@media only screen and (min-width: 601px) and (max-width: 768px) {

    .hydrogen-container {
        grid-template-areas: 
            ". . . . h h h h . . . ."
            ". . . . s s s s . . . ."
            ". . . p p p p p p . . .";

        .title-container {
            border-bottom: 1px solid $nf-blue;
            padding-bottom: .2rem;
        }

        h3 {
            text-align: left;
            margin-bottom: 64px;
        }

        ul {
            width: 100%;
            padding-left: calc(100% / 6);
        }

        

    }

}