.bio-main {
    position: relative;
    display: grid;

    grid-template-columns: repeat(12, 1fr);

    margin-left: 128px;
    margin-right: 128px;
    width: calc(100vw - 256px);
    margin-top: 160px;
}

.bio-container {
    grid-column-start: 2;
    grid-column-end: 12;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
        ". . . . img img . . . . "
        ". phone phone  name name name name  email email . "
        ". . description description description description description description . ."
        ". . . et et et et . . ."
        ". experience experience experience experience experience experience experience experience ."
    ;
    background-color: $lg;
    margin-bottom: 80px;
    padding-bottom: 32px;

    .bio-experience-title {
        grid-area: et;
        justify-self: center;
        text-align: center;
        margin-top: 64px;
        width: 100%;
        padding-bottom: .25rem;
        border-bottom: 1px solid $ddw;
        color: $ddw;
    }


    h4 {
        color: $ddw;
    }

    p {
        color: $dw;
    }
}

.bio-img {
    border-radius: 50%;
    width: 192px;
    margin-top: -96px;

    border: 4px solid $nf-blue;

    grid-area: img;
    justify-self: center;

    margin-bottom: 32px;

    position: sticky;
    top: 8px;
    z-index: 6;
}

.bio-phone {
    grid-area: phone;
    align-self: center;
    text-decoration: none;
}

.bio-name-container {
    grid-area: name;
    justify-self: center;

    h2, h4 {
        text-align: center;
    }

    h2 {
        font-weight: 100;
        color: white;
    }
}

.bio-email {
    grid-area: email;
    justify-self: right;
    align-self: center;
    text-decoration: none;
}

.bio-description {
    margin-top: 64px;
    grid-area: description;
    font-size: 14px;

    p {
        margin-bottom: 1rem;
    }
}

.bio-experience {
    margin-top: 32px;
    grid-area: experience;
}

.bio-job-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "company position position duration";
    border-bottom: 1px solid $ddw;
    padding-bottom: .25rem;

    margin-bottom: 40px;

    p {
        font-size: 14px;
        color: $dw;
    }
}

.bio-company {
    grid-area: company;
}

.bio-exp-position {
    grid-area: position;
    text-align: center;
}

.bio-duration {
    grid-area: duration;
    text-align: right;
}

