@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');


* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 

     margin: 0;
     padding: 0;

     font-family: 'Montserrat', sans-serif;
}

$nf-blue: #55B4D0;
$nf-blue-opacity-1: rgba(85, 180, 208, 1);
$nf-blue-opacity-0: rgba(85, 180, 208, 0);
$bg: #363535;
$lg: #414141;
$ddw: #919191;
$dw: #D8D8D8;
$w: #FFFFFF;

body {
    background-color: $bg;
}

.content {
    margin-top: 128px;
    min-height: calc(100vh - 128px);
}

h3 {
    color: $w;
    font-weight: 100; 
}

h4 {
    color: $w;
    font-size: 14px;
    font-weight: 100;
    color: $dw;
}

@import './navbar.scss';
@import './footer.scss';
@import './home.scss';
@import './about.scss';
@import './test.scss';
@import './bio.scss';
@import './partners.scss';
@import './contact.scss';
@import './business-card.scss';
@import './wind.scss';
@import './hydrogen.scss';
@import './oil-gas.scss';
