@media only screen and (max-width: 600px) {
    .nav-container {
        padding-top: 32px;
    }

    .line-container {
        top: 32px;
        width: 100%;
        left: 0;

        .line {
            width: 100%;
        }
    }
}