@media only screen and (max-width: 600px) {
    .nav-container {
        padding-top: 32px;
    }

    .line-container {
        top: 32px;
        width: 100%;
        left: 0;

        .line {
            width: 100%;
        }
    }

    .about-main {
        padding-right: 32px;
        padding-left: 32px;

        grid-template-rows: 32px repeat(6, auto [row]);

        .about-title {
            justify-content: space-between;
            grid-column-start:  1;
            grid-column-end: col 12;

            .t-line {
                // display: none;
                width: 40px;
                // margin-right: 8px;
            }

            // .t-line:last-of-type {
            //     margin-right: 0;
            //     margin-left: 8px;
            // }

            h2 {
                font-size: 28px;
            }
        }

        h4 {
            text-align: center;
        }

        .about-text {
            grid-column-start: 1;
            grid-column-end: col 12;
            padding: 24px;
            padding-left: 24px;
            padding-right: 24px;
            margin-bottom: 40px;
        }

        #a-meet, #team-line {
            grid-column-start: col 2;
            grid-column-end: col 10;
        }
    }
}