@media only screen and (max-width: 615px) {

    .content {
        margin-top: 64px;

        transition: .4s;
    }

    .content-hidden {
        opacity: .1;
        pointer-events: none;
    }

    #scroll-ref {
        margin-top: -128px !important;
    }


    .about-main {
        padding-right: 32px;
        padding-left: 32px;

        grid-template-rows: 32px repeat(6, auto [row]);

        .subtitle {
            grid-column-start: col 1;
            grid-column-end: col 11;
        }

        .about-title {
            justify-content: center;
            grid-column-start:  1;
            grid-column-end: col 12;
            margin-bottom: .25rem;

            .t-line {
                display: none;
            }

            h2 {
                font-size: 28px;
            }
        }

        h4 {
            text-align: center;
        }

        .about-text {
            grid-column-start: 1;
            grid-column-end: col 12;
            padding: 24px;
            padding-left: 24px;
            padding-right: 24px;
            margin-top: 32px;
            margin-left: -32px;
            margin-right: -32px;
        }

        #a-meet, #team-line {
            grid-column-start: col 2;
            grid-column-end: col 10;
        }

        #team-line {
            height: 1px;
        }
    }

    .scrollable-list {
        display: block;
        margin-bottom: 0;
    }

    .team-container {
        display: none;
    }

    .learn-more {
        grid-column-start: 1;
        grid-column-end: col 12;
        margin: 0 -32px;
        margin-bottom: 2rem;

        .learn-more-text {
            padding: 24px;
        }

    }
}