@media only screen and (max-width: 615px) {
    .bio-container {
        display: block;
        margin-bottom: 0;
    }

    .bio-main {
        margin-left: 0;
        margin-right: 0;
        margin-top: 128px;
        margin-bottom: 64px;
        width: 100vw;
        background-color: $lg;
    }

    .bio-img {
        width: 192px;
        margin-left: calc(50% - 97px);
        position: static;
    }

    .bio-email {
        margin-top: -1.15rem;

        h4 {
            margin-top: -1.15rem;
        }
    }

    .bio-phone {
        text-align: right;
        margin-top: 1rem;
        h4 {
            margin-top: 1rem;
        }
    }

    .bio-description {
        p {
            color: $dw;
        }
    }

    .bio-name-container {
        h4 {
            font-size: 16px;
        }
    }

    .bio-job-container {
        grid-template-areas: 
            "company company company company"
            "position position duration duration";
        padding-bottom: 1rem;
        border-bottom: 1px solid $bg;

        .bio-company {
            justify-self: center;
            text-align: center;
            margin-bottom: 1rem;
            color: $dw;
            font-size: 16px;
        }

        .bio-exp-position {
            justify-self: left;
            text-align: left;
        }

        .bio-exp-position, .bio-duration {
            color: $ddw;
        }
    }

    .bio-experience-title {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        font-size: 1.5em;
        color: $ddw;
        border-bottom: 1px solid $bg;
    }
}