@media only screen and (max-width: 615px) {
    .contact-container {
        padding-bottom: 44px;
        padding-right: 0;
        padding-left: 0;

        grid-template-areas: 
            ". . h h h h h h h h . ."
            "f f f f f f f f f f f f"
            ". . l l l l l l l l . ."
            ". . i i i i i i i i . .";
    }

    #contact-click {
        text-align: center;
    }

    .team-link-container:hover {
        border: none;
    }

    .contact-cards-container {
        padding-left: 0;
        padding-right: 0;

        display: block;

        .scrollable-list {
            margin-left: 0;
            margin-top: 32px;
            height: 180px;

            h4 {
                text-align: center;
            }
        }

        .business-card {
            margin-left: 12.5%;
        }
    }

    #contact-scroll-ref {
        margin-top: -730px !important;
    }

    .contact-info-container {
        display: none;
    }
}