@media only screen and (max-width: 480px) {
    .home-container {
        height: calc(100vh - 59px - 36px);
        margin-top: -9px;
        display: block;
        position: relative;
    }

    .home {
        padding-right: 30vw;
        padding-left: 30vw;
        
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .home-btn {
            margin-top: 2.5vw;
            height: 15vh;
            // padding-top: 0;

            p {
                // position: relative;
                // display: block;
            }
        }
    }



    .home-btn:nth-child(1) {
        margin-top: 0;
    }
}