@media only screen and (max-width: 480px) {
    .oil-container {
        padding-left: 0;
        padding-right: 0;

        grid-template-areas: 
            ". . h h h h h h h h . ."
            ". . s s s s s s s s . ."
            ". . s2 s2 s2 s2 s2 s2 s2 s2 . ."
            ". . p p p p p p p p . .";

        .img-placeholder {
            display: none;
        }
    }
}