@media only screen and (max-width: 615px) {
    .wind-container {
        padding-bottom: 44px;
        padding-left: 0;
        padding-right: 0;

        margin-bottom: 64px;

        grid-template-areas: 
            ". . h h h h h h h h . ."
            ". hvdc hvdc hvdc hvdc hvdc hvdc hvdc hvdc hvdc hvdc ."
            ". ft ft ft ft ft ft ft ft ft ft .";

        .title-container {
            margin-bottom: 32px;
        }

        .hvdc-container {
            padding-bottom: 16px;
        }
    }

}